<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevaExp" *ngif="isLogged">
            nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">

            <body>
                <tr *ngfor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombre}}</h2>
                    </td>
                    <td>{{Experiencia.descripcion}}</td>
                    <td *ngif="isLogged">
                        <button class="btn btn-secondary" routerLink="/editexp/((Experiencia.id))"><i
                            class="bi bi-pencil"></i>EDITAR</button>
                    </td>
                    <td *ngif="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)"><i
                        class="bi bi-backspace-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </body>
        </table>
    </div>
</div>