<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevadu" *ngif="isLogged">
            nueva Educacion
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">

            <body>
                <tr *ngfor="let Educacion of edu">
                    <td>
                        <h2>{{Educacion.nombre}}</h2>
                    </td>
                    <td>{{Educacion.descripcion}}</td>
                    <td *ngif="isLogged">
                        <button class="btn btn-secondary" routerLink="/editedu/((Educacion.id))"><i
                            class="bi bi-pencil"></i>EDITAR</button>
                    </td>
                    <td *ngif="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)"><i
                        class="bi bi-backspace-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </body>
        </table>
    </div>
</div>
