<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolore eveniet quos quaerat aut aspernatur deleniti? Incidunt aliquid ab eius fugit debitis? Eos temporibus optio beatae voluptatem provident. Natus, enim.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolore eveniet quos quaerat aut aspernatur deleniti? Incidunt aliquid ab eius fugit debitis? Eos temporibus optio beatae voluptatem provident. Natus, enim.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolore eveniet quos quaerat aut aspernatur deleniti? Incidunt aliquid ab eius fugit debitis? Eos temporibus optio beatae voluptatem provident. Natus, enim.</p>
        </ul>
    </div>
</div>
