<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="50"
         [radius]="100"
         [title]="'HTML'"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
         [animationDuration]="300"
         ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'CSS'"
        [showUnits]="false"
        [titlecolor]="'green'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'aqua'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="50"
         [radius]="100"
         [title]="'JAVASCRIPT'"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [radius]="100"
         [title]="'INGLES'"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
         [animationDuration]="300"
         ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="85"
         [radius]="100"
         [title]="'TRABAJO EN EQUIPO'"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
         [animationDuration]="300"
         ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="70"
         [radius]="100"
         [title]="'GITHUB'"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
         [animationDuration]="300"
         ></circle-progress>
   </div>
</div>
