<div class="row">

    <h1>Hard & soft skills</h1>

    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngif="isLogged">Nueva skill</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
         <circle-progress
         [percent]="(skill.porcentaje)"
         [radius]="100"
         [title]="(skill.nombre)"
         [showTitle]="true"
         [showUnits]="false"
         [titlecolor]="'green'"
         [titleFontSize]="'3em'"
         [showSubtitle]="false"
         [outerStrokeWidth]="12"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'blue'"
         [innerStrokeColor]="'aqua'"
         [animation]="true"
         [animationDuration]="300"
         ></circle-progress>
         <div>
            <td *ngif="isLogged">
                <button class="btn btn-secondary" routerLink="/editskill/((hys.id))"><i
                   class="bi bi-pencil"></i>EDITAR</button>
           </td>
           <td *ngif="isLogged">
               <button class="btn btn-danger" (click)="delete(hys.id)"><i
               class="bi bi-backspace-fill"></i>BORRAR</button>
           </td>
         </div>
    </div>
</div>
