<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem tenetur autem in similique expedita possimus fuga minus perferendis voluptates! Temporibus ullam est, perspiciatis reiciendis blanditiis fuga voluptatum illum cumque?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>